#countlabel{
    font-size: 10em;
    display: block;
    text-align: center;
}
#btn-container{
    text-align: center;
}
.btn{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(192, 92%, 45%);
    transition: 0.5s ease;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: hsl(192, 92%, 35%);
}